body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(90deg, #7474bf 10%, #348ac7 90%);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

.submit-form {
  position: relative;
  display: flex;
  margin: 16px auto;
  width: 236px;
}
.submit-form input {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.submit-form button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.weather-wrapper {
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: #222831;
  margin: 0 auto;
  width: 480px;
  border-radius: 25px;
}

.current-card-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;

  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url("https://images.unsplash.com/photo-1702744473287-4cc284e97206?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
}
.current-card-wrapper:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}
.card-photo-wrapper {
  background-image: linear-gradient(135deg, #72edf2 -40%, #5151e5 100%);
  height: 100%;
  opacity: 0.7;
  border-radius: 25px;
}
.card-info {
  padding: 12px;
  text-align: left;
}
.card-info-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.card-info > p {
  margin-bottom: 8px;
}
.forecast-list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.forecast-list-item {
  width: 100%;
  padding-bottom: 4px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
}
.forecast-list-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}
.active {
  background: #fff;
  color: #222831;
  border-radius: 10px;
}
.weather-detail-list {
  font-weight: 700;
}
.weather-details-general {
  padding: 12px 20px;
  width: 200px;
}
.weather-detail-hour {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.weather-detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .weather-wrapper {
    flex-direction: column;
    height: 100%;
    width: 300px;
    align-items: center;
  }
  .weather-details-general {
    padding: 12px 0;
  }
  .current-card-wrapper {
    height: 300px;
  }
}
